extends layout

block content
  div#cli
    div#cli__header
      .dot
      .dot
      .dot
    code#cli__screen
      code#cli__output
      code#cli__input
        span LEDIS >
        input#input__prompt(autofocus="true" spellcheck="false")
  script(src='/javascripts/cli.js')
