extends layout

block content
  div#cli-screen
    div#cli-header
      .dot
      .dot
      .dot
    code#cli-container
      code#cli-output
      code#cli-input-container
        span LEDIS >
        input#cli-input(autofocus="true")
  script(src='/javascripts/cli.js')
