@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  padding: 50px;
  font: 16px "Montserrat";
  background-color: #00b7ff;
  box-sizing: border-box;
}

#cli-screen {
  display: flex;
  flex-direction: column;
  width: max(60vw, 300px);
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #2b2b2b;
  background-color: white;
}

#cli-header {
  padding: 10px;
  background-color: #dddddd;
  display: flex;
  flex-direction: row-reverse;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin: 5px;
}

#cli-container {
  height: 100%;
  padding: 10px;
  background-color: white;
  overflow: auto;
}

.cli-output-response-line {
  color: blue;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cli-output-prompt-line {
  color: #2b2b2b;
  margin-top: 5px;
  margin-bottom: 5px;
}

#cli-input-container {
  display: flex;
}

#cli-input {
  font: inherit;
  flex: 1;
  margin-left: 5px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #2b2b2b;
}

code {
  white-space: pre-line;
}